* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.container {
  margin: auto;
  padding: 0.9375rem;
  max-width: 65rem;
  width: 90%;
  height: 30rem;
  border: 1px solid black;
}
header {
  display: flex;
  border: 2px solid yellow;
}
header .logo {
  width: 10%;
  margin-right: 10%;
}
header nav {
  border: 1px solid red;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 0 10px;
}
